body{
  background-color: #020202;
}

.background{
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url("../images/promo1.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.shroud{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  z-index: 2;
}

.navbar{
  position: absolute;
  z-index: 99;
  width: 100vw;
  top: 10px;
  li{
    display: inline;
    margin: 0 10px;
    a{
      color: #F2F2F2;
    }
  }
}

.title{
  position: absolute;
  z-index: 3;
  width: 600px;
  height: 400px;
  margin: 0 0 0 -300px;
  left: 50%;
  top: 25%;
  text-align: center;
  h1{
    font-size: 100px;
    color: #F2F2F2;
    margin: 30px 0 0 0;
    @media screen and (max-width: 600px) {
      font-size: 80px;
      margin: 50px 0 0 0;
    }
    @media screen and (max-width: 475px) {
      font-size: 60px;
      margin: 70px 0 0 0;
    }
    @media screen and (max-width: 355px) {
      font-size: 55px;
      margin: 75px 0 0 0;
    }
  }
  .line1{
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
    position:absolute;
    top: 47.3%;
    left: 12%;
    @media screen and (max-width: 490px) {
      width: 150px;
      left: 20%;
    }
    @media screen and (max-width: 415px) {
      width: 110px;
      left: 25%;
    }
  }
  .circle{
    margin: 50px 0 50px -10px;
    height: 20px;
    width: 20px;
    background-color:#F2F2F2;
    position:relative;
    left: 50%;
    border-radius: 100%;
  }
  .line2{
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
    position:absolute;
    top: 47.3%;
    right: 12%;
    @media screen and (max-width: 490px) {
      width: 150px;
      right: 20%;
    }
    @media screen and (max-width: 415px) {
      width: 110px;
      right: 25%;
    }
  }
  p{
    color: #F2F2F2;
    width:600px;
    font-size: 30px;
    position:absolute;
    bottom: 150px;
    @media screen and (max-width: 600px) {
      font-size: 25px;
    }
    @media screen and (max-width: 475px) {
      font-size: 20px;
    }
  }
}

form{
  .form-control{
    margin: 0;
  }
  button{
    height: 37px;
    line-height: 0;
    margin: 20px 0 0 0;
  }
}

.center-form{
  left: 25%;
  margin: 20px 0 0 0; 
  @media screen and (max-width: 639px) {
    left: 0;
  }
}

small.error{
  margin: 0;
}

.hidden{
  display: none;
}

html, body, main {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#map {
  height: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto' 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}