

@font-face {
  font-family: pricedown;
  src: url('../fonts/pricedown.ttf');
} 

body{
  background-color: #020202;
  font-family: Dosis;
}

.button{
  font-family: Dosis;
  font-weight: 700;
}

button{
  font-family: Dosis;
}

input{
  font-family: Dosis;
}

video.background{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.shroud{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  z-index: 2;
}

.navbar-fade{
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: 0;
  padding: 10px 0 60px 0;
  background-image: linear-gradient(black, rgba(0,0,0,0));
}

.navbar{
  position: absolute;
  z-index: 99;
  width: 100vw;
  top: 10px;
  @media screen and (max-width: 975px) {
    right: 0;
    width: 80vw;
  }
  @media screen and (max-width: 635px) {
    width: 100vw;
  }
  li{
    display: inline;
    margin: 0 10px;
    z-index: 3;
    @media screen and (max-width: 635px) {
      display: block;
      margin: 5px 10px;
    }
    a{
      color: #F2F2F2;
    }
  }
}

.title{
  position: absolute;
  z-index: 3;
  width: 600px;
  height: 400px;
  margin: 0 0 0 -300px;
  left: 50%;
  top: 25%;
  text-align: center;
  h1{
    font-size: 100px;
    color: #F2F2F2;
    margin: 30px 0 0 0;
    font-family: pricedown;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    @media screen and (max-width: 600px) {
      font-size: 80px;
      margin: 50px 0 0 0;
    }
    @media screen and (max-width: 475px) {
      font-size: 60px;
      margin: 70px 0 0 0;
    }
    @media screen and (max-width: 370px) {
      font-size: 52px;
      margin: 75px 0 0 0;
    }
  }
  .line1{
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
    position:absolute;
    top: 47.3%;
    left: 12%;
    @media screen and (max-width: 490px) {
      width: 150px;
      left: 20%;
    }
    @media screen and (max-width: 415px) {
      width: 110px;
      left: 25%;
    }
  }
  .circle{
    margin: 50px 0 50px -10px;
    height: 20px;
    width: 20px;
    background-color:#F2F2F2;
    position:relative;
    left: 50%;
    border-radius: 100%;
  }
  .line2{
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
    position:absolute;
    top: 47.3%;
    right: 12%;
    @media screen and (max-width: 490px) {
      width: 150px;
      right: 20%;
    }
    @media screen and (max-width: 415px) {
      width: 110px;
      right: 25%;
    }
  }
  p{
    color: #F2F2F2;
    width:600px;
    font-size: 30px;
    position:absolute;
    bottom: 150px;
    @media screen and (max-width: 600px) {
      font-size: 25px;
    }
    @media screen and (max-width: 475px) {
      font-size: 20px;
    }
  }
}

.user-form{
  background-color:#2C2C2C;
  border-radius: 1px;
  width: 60%;
  position:absolute;
  top: 50px;
  left: 50%;
  margin-left: -30%;
  box-shadow: 0px 0px 20px #2F2F2F;
  @media screen and (max-width: 675px) {
    width: 90%;
    margin-left: -45%;
  }
  @media screen and (max-width: 635px) {
    top: 100px;
  }
  .form-control{
    margin: 0;
  }
  button{
    height: 37px;
    line-height: 0;
    margin: 20px 0;
    background-color: #3F3F3F;
    &:hover{
      background-color: #4F4F4F;   
    }
  }
}

.center-form{
  margin: 20px 0 0 0; 
  @media screen and (min-width: 740px) {
    left: 50%;
    width:420px;
    margin: 20px 0 0 -210px;
  }
}

small.error{
  margin: 0;
}

.hidden{
  display: none;
}

html, body, main {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#map {
  height: 100%;
}

#floating-panel {
  background-color: #F2F2F2;
  height: 50px;
  width: 305px;
  .location-search{
    position:absolute;
    left: 0;
    top: 0;
    input{
      width: 230px;
      padding: 0 0 0 20px;
      height: 50px;
      background-color: #F2F2F2;
      border: 0;
      @media screen and (max-width: 901px) {
        width: 180px;
        margin-left: 50px;
      }
    }
  }
  .location-button{
    float: right;
  }
  input#submit{
    width: 75px;
    color: #020202;
    height: 50px;
    border: 0;
    background-color: #C2C2C2;
    margin: 0;
    &:hover{
      background-color: grey;
    }
  }
}

.first-input{
  margin: 30px 0 0 0;
  @media screen and (min-width: 740px) {
    left: 50%;
    width:420px;
    margin: 30px 0 0 -210px;
  }
}

.heist-photo{
  height: 200px;
  width: 305px;
  background-color: #020202;
  margin: 10px 0;
  text-align: left;
  color: #F2F2F2;
  padding: 10px;
  font-size: 15.5px;
}

.results{
  height: 145px;
  width: 305px;
  background-color: lighten(orange, 10%);
  .criminal-time-tag{
    width: 100%;
    height: 40px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    p{
      padding: 0 20px;
    }
  }
  .police-time-tag{
    width: 100%;
    height: 40px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: grey;
    p{
      padding: 0 20px;
      color: whitesmoke;
    }
  }
  .win-or-lose{
    height: 65px;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #020202;
    p{
      color: white;
      font-size: 25px;
      padding: 0 10px;
    }
  }
}

@-webkit-keyframes WinPercentColorChange {
    0% {background-color:blue;}
    33.333% {background-color:red;}
    66.666% {background-color:red;}
    100% {background-color:blue;}
}
@-webkit-keyframes WinMoneyColorChange {
    0% {background-color:red;}
    33.333% {background-color:blue;}
    66.666% {background-color:blue;}
    100% {background-color:red;}
}

.estimates{
  height: 250px;
  width: 305px;
  background-color: black;
  margin: 0 0 10px 0;
  .win-percent{
    -webkit-animation:WinPercentColorChange 1s infinite;
    float: left;
    height: 70px;
    width: 37.5%;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
  }
  .vs{
    width: 25%;
    height: 70px;
    position: absolute;
    top: 270px;
    left: 37.5%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 35px;
  }
  .win-money{
    -webkit-animation:WinMoneyColorChange 1s infinite;
    height: 70px;
    width: 37.5%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
  }
  .rob{
    background-color: black;
    color:white;
    width: 100%;
    position: absolute;
    top: 445px;
    padding: 20px 0;
    font-size: 35px;
    cursor: pointer;
  }
  .police-estimate{
    background-color: white;
    width: 100%;
    height: 52px;
    position: absolute;
    top: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .criminal-estimate{
    background-color: grey;
    width: 100%;
    height: 53px;
    position: absolute;
    top: 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
  }
}

.win-or-lose{
  background-color: red;
}

.side-panel{
  width: 305px;
  height: 97.5vh;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99;
  @media screen and (max-width: 900px) {
    display: none;
  }
  @media screen and (max-width: 340px) {
    left: 0;
  }
}

.hamburger{
  @media screen and (min-width: 901px) {
    display: none;
  }
  width: 50px;
  height: 50px;
  font-size: 50px;
  padding: 0 0 6px 0;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  @media screen and (max-width: 340px) {
    left: 0;
  }
}

.disclaimer{
  width: 100px;
  height: 15px;
  color: #606060;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  z-index: 5;
}

.disclaimer-info{
  width: 80vw;
  height: 97vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -48.5vh 0 0 -40vw;
  z-index: 99;
  .close{
    color: #020202;
    width: 78%;
    height: 30px;
    position: absolute;
    bottom: 291px;
    left: 50%;
    margin-left: -36.5%;
    text-align: center;
  }
  .text{
    background-color: tan;
    width: 75%;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35vh 0 0 -37.5%;
    overflow-y: auto;
    font-size: 12px;
    padding: 0 20px;
    text-align: left;
    @media screen and (max-width: 900px) {
      width: 90%;
      margin: -35vh 0 0 -45%;
    }
  }
  .text-top{
    width: 78%;
    height: 50px;
    position: absolute;
    left: 50%;
    // top: 44px;
    top: 287px;
    margin-left: -39%;
    background-color: darken(tan, 15%);
    @media screen and (max-width: 900px) {
      width: 93%;
      margin-left: -46.5%;
    }
  }
  .text-bottom{
    width: 78%;
    height: 50px;
    position: absolute;
    left: 50%;
    // bottom: 44px;
    bottom: 287px;
    margin-left: -39%;
    background-color: darken(tan, 15%);
    @media screen and (max-width: 900px) {
      width: 93%;
      margin-left: -46.5%;
    }
  }
}
.black{
  color: black;
}