<div id="directions-panel" class="hidden"></div>
<div id="map"></div>

<div class="side-panel">
  <div id="floating-panel">
    <div class="location-search">
      <input id="address" type="textbox" value="London, UK">
    </div>
    <div class="location-button">
      <input class="button tiny" id="submit" type="button" value="Geocode">
    </div>
  </div>
  <div class="heist-photo">heist photo</div>
  <div class="risk-reward">
  </div>
  <div class="estimates">
    <div class="police-estimate"></div>
    <div class="criminal-estimate"></div>
    <div class="rob">Rob The Place!</div>
  </div>
  <div class="results">
    <p class="criminalTimeTag">
    </p> 
    <br>
    <p class="policeTimeTag">
    </p>
    <div class="win-or-lose"></div>
  </div>
</div>

<script type="text/javascript" src="../js/game.js"></script>
