<div id="directions-panel" class="hidden"></div>
<div id="map"></div>

<div class="side-panel">
  <div id="floating-panel">
    <div class="location-search">
      <input id="address" type="text" value="London, UK">
    </div>
    <div class="location-button">
      <input class="button tiny" id="submit" type="submit" value="Geocode">
    </div>
  </div>
  <div class="heist-photo" id="pano">Heist View</div>
  <div class="risk-reward">
  </div>
  <div class="estimates">
    <div class="win-percent"></div>
    <div class="vs">VS.</div>
    <div class="win-money"></div>
    <div class="police-estimate"></div>
    <div class="criminal-estimate"></div>
    <div class="rob">Rob The Place!</div>
  </div>
  <div class="results">
    <div class="criminal-time-tag">
    </div> 
    <div class="police-time-tag">
    </div>
    <div class="win-or-lose"></div>
  </div>
</div>

<div class="hamburger">&#9776;</div>

<script type="text/javascript" src="../js/game.js"></script>
