<form method="POST" action="/login">

  <div class="row">
    <div class="medium-12 columns center-form first-input">
      <input name="email" placeholder="Email" class="form-control">
      <small class="error show-for-sr">Invalid entry</small>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns center-form">
      <input type="password" name="password" placeholder="Password" class="form-control">
      <small class="error show-for-sr">Invalid entry</small>
    </div>
  </div>

  <button>Login</button>
</form>